@import "tailwindcss";


@layer components{
  .btn{
    @apply px-4 py-2 rounded-md text-sm font-medium
  }

  .btn-primary{
    @apply bg-indigo-600 text-white hover:bg-indigo-700
  }
  
  .btn-secondary{
    @apply bg-white border border-slate-300 text-slate-700 hover:bg-slate-50

  }

  .input{
    @apply w-full rounded-md border border-slate-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500

  }
}

